<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('public/assets/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link href="{{ asset('public/assets/vendor/fonts/circular-std/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('public/assets/libs/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
<div class="splash-container">
    <div class="card ">
        <div class="card-header text-center">
            <a href="../index.html"><img class="logo-img" src="{{ asset('public/assets/images/logo.png') }}" alt="logo"></a>
            <span class="splash-description">Please enter your user information.</span>
        </div>
        <div class="card-body">
            {% if errors is defined %}
                {% for error in errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endif %}
           {{ form_start(form) }}

            {{ form_label(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control form-control-lg'}}) }}<br/>
            {{ form_widget(form.login, {'attr': {'class': 'btn btn-primary btn-lg btn-block'}}) }}
            {{ form_end(form) }}
        </div>
        <div class="card-footer bg-white p-0  ">
            <div class="card-footer-item card-footer-item-bordered">
                <a href="/register" class="footer-link">Create An Account</a></div>
        </div>
    </div>
</div>

<script src="{{ asset('public/assets/vendor/jquery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('public/assets/vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
</body>
</html>