<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('public/assets/vendor/bootstrap/css/bootstrap.min.css') }}">
            <link href="{{ asset('public/assets/vendor/fonts/circular-std/style.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('public/assets/libs/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
            <link rel="stylesheet" href="{{ asset('public/assets/vendor/charts/chartist-bundle/chartist.css') }}">
            <link rel="stylesheet" href="{{ asset('public/assets/vendor/charts/morris-bundle/morris.css') }}">
            <link rel="stylesheet" href="{{ asset('public/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('public/assets/vendor/charts/c3charts/c3.css') }}">
            <link rel="stylesheet" href="{{ asset('public/assets/vendor/fonts/flag-icon-css/flag-icon.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="{{ url('allResources') }}">Concept</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" id="search-textbox" placeholder="Search for resources ...">
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('/public/documentation/img/user-profile-avatar.jpg') }}" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">
                                        {% if app.session.get('fullName') is null %}
                                        {{ app.session.get('username') }}
                                        {% else %}
                                        {{ app.session.get('fullName')  }}
                                        {% endif %}
                                    </h5>
{#                                    <span class="status"></span><span class="ml-2">Available</span>#}
                                </div>
                                <a class="dropdown-item" href="{{ url('allResources') }}"><i class="fas fa-home mr-2"></i>Resources</a>
{#                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>#}
                                <a class="dropdown-item" href="{{ url('logout') }}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('allResources') }}">Resources</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('logout') }}">Logout</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div id="searchResultDiv">
                        {% block body %}
                            <h3 class="text-center">{% block content %}{% endblock %}</h3>
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2019. All rights reserved.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
{#                                <a href="javascript: void(0);">About</a>#}
{#                                <a href="javascript: void(0);">Support</a>#}
{#                                <a href="javascript: void(0);">Contact Us</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->

        {% block javascripts %}
            <!-- Optional JavaScript -->
            <!-- jquery 3.3.1 -->
            <script src="{{ asset('public/assets/vendor/jquery/jquery-3.3.1.min.js') }}"></script>
            <!-- slimscroll js -->
            <script src="{{ asset('public/assets/vendor/slimscroll/jquery.slimscroll.js') }}"></script>
            <!-- sparkline js -->
            <script src="{{ asset('public/assets/vendor/charts/sparkline/jquery.sparkline.js') }}"></script>
            <!-- bootstap bundle js -->
            <script src="{{ asset('public/assets/vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
            <!-- main js -->
            <script src="{{ asset('public/assets/libs/js/main-js.js') }}"></script>

{#            <!-- chart chartist js -->#}
{#            <script src="{{ asset('public/assets/vendor/charts/chartist-bundle/chartist.min.js') }}"></script>#}
            <!-- morris js -->
            {# <script src="{{ asset('public/assets/vendor/charts/morris-bundle/raphael.min.js') }}"></script>#}
            {# <script src="{{ asset('public/assets/vendor/charts/morris-bundle/morris.js') }}"></script>#}

            <!-- chart c3 js -->
            <script src="{{ asset('public/assets/vendor/charts/c3charts/c3.min.js') }}"></script>
            <script src="{{ asset('public/assets/vendor/charts/c3charts/d3-5.4.0.min.js') }}"></script>
            <script src="{{ asset('public/assets/vendor/charts/c3charts/C3chartjs.js') }}"></script>
{#            <script src="{{ asset('public/assets/libs/js/dashboard-ecommerce.js') }}"></script>#}
            <script>
                var input = document.getElementById("search-textbox");
                input.addEventListener("keyup", function(event) {
                    // if (event.keyCode === 13 || event.keyCode === 8) {
                        var value = document.getElementById('search-textbox').value;

                        var pattern = /^[\w .]+$/;
                        var result = pattern.exec(value);

                        var searchResultDiv = document.getElementById('searchResultDiv');

                        if (result === null) {
                            {#location.href = '{{ url('allResources') }}';#}
                            searchResultDiv.innerHTML = '<h1>Search results</h1><br/>' + '<p>No results were found.</p>';
                            return;
                        }

                        //Create ajax request for search result.
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState === 4 && this.status === 200) {
                                // alert(this.responseText);
                                // console.log(JSON.parse(this.responseText));
                                var searchResultArray = JSON.parse(this.responseText);


                                searchResultDiv.innerHTML =
                                    '<h1>Search results</h1><br/>';

                                if (searchResultArray.length > 0) {
                                    //+
                                    // '<div class="row">';
                                    for (var i = 0; i < searchResultArray.length; i++){
                                        searchResultDiv.innerHTML += '<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">' +
                                            '                    <div class="card">' +
                                            '                        <div class="card-body">' +
                                            '                            <h3 class="card-title">'+  searchResultArray[i].resourceName + '</h3>' +
                                            '                            <p class="card-text">Id: ' + searchResultArray[i].mongodbId + '</p>' +
                                            '                            <p class="card-text">Api-Key: ' + searchResultArray[i].apiKey +  '</p>' +
                                            '                            <a href="' + searchResultArray[i].id + '" class="btn btn-primary">View resource</a>' +
                                            '                        </div>' +
                                            '                    </div>' +
                                            '                </div>';

                                    }
                                }  else {
                                    searchResultDiv.innerHTML += '<p>No results were found.</p>';
                                }
                            }
                        };

                        xhttp.open("POST", "{{ url('searchForResources') }}", true);
                        // xhttp.setRequestHeader("Content-type", "application/json");
                        xhttp.send(JSON.stringify(value));
                    // }
                });
            </script>
        {% endblock %}
    </body>
</html>
