{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        /*li{*/
        /*    color: red;*/
        /*}*/
    </style>
{% endblock %}
{% block title %} Login {% endblock %}
{% block body %}
    {% if errors is defined %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}