{% extends 'base.html.twig' %}

{% block body %}
    <div class="section-block" id="basicform">
        <h3 class="section-title">Share resource</h3>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <h5 class="card-header">Hello</h5>
                <div class="card-body">
                    <p>Lorem ipsum</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}