{% extends 'base.html.twig' %}
{% block title %}All resources{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}

    <h1>My resources</h1>
    {% if resources is not empty %}

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-block" id="cards">
                    <p>This are resources created by you. You can either view, delete or share them with other users.</p>
                </div>
            </div>
            {% for resource in resources %}
    {#            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">#}
                <div class="col-lg-1 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ resource.resourceName }}</h3>
                            <p class="card-text">Id: {{ resource.mongodbId }}</p>
                            <p class="card-text">Api-Key: {{ resource.apiKey }}</p>
                        </div>
                        <div class="card-footer p-0 text-center d-flex justify-content-center ">
                            <div class="card-footer-item card-footer-item-bordered">
                                <a href="{{ path('viewResource', {'id': resource.id })  }}" class="card-link">View</a>
                            </div>
                            <div class="card-footer-item card-footer-item-bordered">
                                <a href="{{ path('resourceShare', {'id': resource.id })  }}" class="card-link">Share</a>
                            </div>
                            <div class="card-footer-item card-footer-item-bordered">
                                <a href="{{ path('deleteResource', {'id': resource.id })  }}" class="card-link">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12" id="addResource">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title" data-toggle="modal" data-target="#exampleModal"><a href="#">Add new resource</a></h3>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Payment plans</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modalBody">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>You don't have any resources yet. Create your first resource by clicking <a href="{{ url('createResource') }}">here</a></p>
    {% endif %}

    <h1>Resources shared with me</h1>
    {% if sharedResources is not empty %}
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-block" id="cards">
{#                    <h3 class="section-title">My shared resources</h3>#}
                    <p>This are resources of other users who shared them with you. You can only view them.</p>
                </div>
            </div>
            {% for resource in sharedResources %}
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ resource.resourceName }}</h3>
                            <p class="card-text">Id: {{ resource.mongodbId }}</p>
                            <p class="card-text">Api-Key: {{ resource.apiKey }}</p>
{#                            <a href="{{ resource.id }}" class="btn">View resource</a>#}
                        </div>
                        <div class="card-footer p-0 text-center">
                            <div class="card-footer-item card-footer-item-bordered">
                                <a href="{{ path('viewResource', {'id': resource.id }) }}" class="btn">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You don't have any shared resources yet.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var addNewResourceButton = document.getElementById('addResource');

        addNewResourceButton.onclick = function (ev) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    var numberOfResources = JSON.parse(this.responseText)[0].numberOfResources;


                    var numberOfResourcesFromPaymentPlan = '{{ numberOfResourcesFromPaymentPlan }}';

                    // alert(numberOfResourcesFromPaymentPlan);


                    if (numberOfResourcesFromPaymentPlan !== 'Unlimited' && parseInt(numberOfResources) >= parseInt(numberOfResourcesFromPaymentPlan)) {

                        var modalBody = document.getElementById('modalBody');

                        switch (numberOfResourcesFromPaymentPlan) {
                            case '3': {
                                modalBody.innerHTML =
                                    '                <div class="row">\n' +
                                    '                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">\n' +
                                    '                        <div class="section-block">\n' +
                                    '                        <h3>Choose your plan</h3>\n' +
                                    '                    </div>\n' +
                                    '                    </div>\n' +
                                    '                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">\n' +
                                    '                        <div class="card">\n' +
                                    '                            <div class="card-header bg-primary text-center p-3 ">\n' +
                                    '                                <h4 class="mb-0 text-white"> Standard</h4>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body text-center">\n' +
                                    '                                <h1 class="mb-1">$1</h1>\n' +
                                    '                                <p>Per Month</p>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body border-top">\n' +
                                    '                                <ul class="list-unstyled bullet-check font-14">\n' +
                                    '                                    <li>Up to 10 resources.</li>\n' +
                                    '                                </ul>\n' +
                                    '                                <a href="{{ path('buyPaymentPlan', {'id': 2}) }}" class="btn btn-secondary btn-block btn-lg">Buy</a>\n' +
                                    '                            </div>\n' +
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">\n' +
                                    '                        <div class="card">\n' +
                                    '                            <div class="card-header bg-info text-center p-3">\n' +
                                    '                                <h4 class="mb-0 text-white"> Advanced</h4>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body text-center">\n' +
                                    '                                <h1 class="mb-1">$10</h1>\n' +
                                    '                                <p>Per Month</p>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body border-top">\n' +
                                    '                                <ul class="list-unstyled bullet-check font-14">\n' +
                                    '                                    <li>Up to 100 resources.</li>\n' +
                                    '                                </ul>\n' +
                                    '                                <a href="{{ path('buyPaymentPlan', {'id': 3}) }}" class="btn btn-secondary btn-block btn-lg">Buy</a>\n' +
                                    '                            </div>\n' +
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">\n' +
                                    '                        <div class="card">\n' +
                                    '                            <div class="card-header bg-primary text-center p-3">\n' +
                                    '                                <h4 class="mb-0 text-white">Premium</h4>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body text-center">\n' +
                                    '                                <h1 class="mb-1">$100</h1>\n' +
                                    '                                <p>Per Month</p>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body border-top">\n' +
                                    '                                <ul class="list-unstyled bullet-check font-14">\n' +
                                    '                                    <li>Unlimited number of resources.</li>\n' +
                                    '                                </ul>\n' +
                                    '                                <a href="{{ path('buyPaymentPlan', {'id': 4}) }}" class="btn btn-secondary btn-block btn-lg">Buy</a>\n' +
                                    '                            </div>\n' +
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                </div>\n';
                            } break;

                            case '10': {
                                modalBody.innerHTML =
                                    '                <div class="row">\n' +
                                    '                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">\n' +
                                    '                        <div class="section-block">\n' +
                                    '                        <h3>Choose your plan</h3>\n' +
                                    '                    </div>\n' +
                                    '                    </div>\n' +
                                    '                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">\n' +
                                    '                        <div class="card">\n' +
                                    '                            <div class="card-header bg-info text-center p-3">\n' +
                                    '                                <h4 class="mb-0 text-white"> Advanced</h4>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body text-center">\n' +
                                    '                                <h1 class="mb-1">$10</h1>\n' +
                                    '                                <p>Per Month Plateform</p>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body border-top">\n' +
                                    '                                <ul class="list-unstyled bullet-check font-14">\n' +
                                    '                                    <li>Up to 100 resources.</li>\n' +
                                    '                                </ul>\n' +
                                    '                                <a href="{{ path('buyPaymentPlan', {'id': 3}) }}" class="btn btn-secondary btn-block btn-lg">Buy</a>\n' +
                                    '                            </div>\n' +
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">\n' +
                                    '                        <div class="card">\n' +
                                    '                            <div class="card-header bg-primary text-center p-3">\n' +
                                    '                                <h4 class="mb-0 text-white">Premium</h4>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body text-center">\n' +
                                    '                                <h1 class="mb-1">$100</h1>\n' +
                                    '                                <p>Per Month Plateform</p>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body border-top">\n' +
                                    '                                <ul class="list-unstyled bullet-check font-14">\n' +
                                    '                                    <li>Unlimited number of resources.</li>\n' +
                                    '                                </ul>\n' +
                                    '                                <a href="{{ path('buyPaymentPlan', {'id': 4}) }}" class="btn btn-secondary btn-block btn-lg">Buy</a>\n' +
                                    '                            </div>\n' +
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                </div>\n';
                            } break;

                            case '100': {
                                modalBody.innerHTML =
                                    '                <div class="row">\n' +
                                    '                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">\n' +
                                    '                        <div class="section-block">\n' +
                                    '                           <h3>Choose your plan</h3>\n' +
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">\n' +
                                    '                        <div class="card">\n' +
                                    '                            <div class="card-header bg-primary text-center p-3">\n' +
                                    '                                <h4 class="mb-0 text-white">Premium</h4>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body text-center">\n' +
                                    '                                <h1 class="mb-1">$100</h1>\n' +
                                    '                                <p>Per Month Plateform</p>\n' +
                                    '                            </div>\n' +
                                    '                            <div class="card-body border-top">\n' +
                                    '                                <ul class="list-unstyled bullet-check font-14">\n' +
                                    '                                    <li>Unlimited number of resources.</li>\n' +
                                    '                                </ul>\n' +
                                    '                                <a href="{{ path('buyPaymentPlan', {'id': 4}) }}" class="btn btn-secondary btn-block btn-lg">Buy</a>\n' +
                                    '                            </div>\n' +
                                    '                        </div>\n' +
                                    '                    </div>\n' +
                                    '                </div>\n';
                            } break;

                        }


                        return;
                    }

                    location.href = '{{ url('createResource') }}';

                }
            };

            xhttp.open("GET", "{{ url('checkNumberOfResources') }}", true);
            xhttp.send();
        }
    </script>
{% endblock %}