{% extends 'base.html.twig' %}
{% block title %}View resource{% endblock %}

{% block content %} {{ resourceDetails.resourceName }} {% endblock %}

{% block body %}
    {{ parent() }}

    <link href="{{ asset('public/documentation/css/jsoneditor.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('public/documentation/js/jsoneditor.min.js') }}"></script>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">API Endpoint: {{ apiUri }}/api/{{ resourceDetails.mongodbId }}</h5>
                <div class="card-body">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div id="jsoneditor" style="width: 500px; height: 500px;"></div><br/>
                            <h5>Api-Key: {{ resourceDetails.apiKey }}</h5>
                            <h5>Access level: {{ accessLevel }}</h5>
                            {% if accessLevel != 'Read' %}
                                <button id="save" class="btn btn-primary" type="button" disabled>Save</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        // create the editor
        var container = document.getElementById("jsoneditor");
        var accessLevel = '{{ accessLevel|raw }}';
        var options = {};

        switch (accessLevel) {
            case 'Read': {
                options = {
                    mode: 'view'
                }
            }
            break;

            case 'Read, Create, Update' : {
                options = {
                    mode: 'tree',
                    onCreateMenu : function (items, node) {
                        // items.splice(7, 1);
                        console.log(items);
                        if(getIndexOfRemoveButton(items) !== 0){
                            items.splice(getIndexOfRemoveButton(items), 1);
                        }
                        return items;
                    },
                    onEditable: function (node) {
                        if(node.value === null){
                            return {
                                field:  false,
                                value: false
                            };
                        }

                        switch (node.field) {
                            case '_id':
                                return {
                                    field:  false,
                                    value: false
                                };

                            case '$oid':
                                return {
                                    field:  false,
                                    value: false
                                };

                            default:
                                return true;
                        }
                    },
                    onChangeJSON : function () {
                        document.getElementById('save').disabled = false;
                    }
                }
            }
            break;

            case 'Read, Create, Update, Delete' : {
                options = {
                    mode: 'tree',
                    onEditable: function (node) {
                        if(node.value === null){
                            return {
                                field:  false,
                                value: false
                            };
                        }

                        switch (node.field) {
                            case '_id':
                                return {
                                    field:  false,
                                    value: false
                                };

                            case '$oid':
                                return {
                                    field:  false,
                                    value: false
                                };

                            default:
                                return true;
                        }
                    },
                    onChangeJSON : function () {
                        document.getElementById('save').disabled = false;
                    }
                }
            }
            break;

            default : {
                options = {
                    mode: 'view' // if the view is read-only, mode should be 'view', otherwise it should be 'tree'
                };
            }
            break;

        }
        console.log(accessLevel);

        var editor = new JSONEditor(container, options);
        // set json

        var json = {{ document|json_encode|raw }}
            editor.set(json);

        // get json
        // editor.onChangeJSON()
        json = editor.get(); // var json = editor.get();
    </script>

    {% if accessLevel != 'Read' %}
        <script>
            let button = document.getElementById('save');
            button.onclick = function () {
                 // console.log(JSON.stringify(editor.get()));
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status === 200) {
                        alert(this.responseText);
                    } else{
                        //alert(this.responseText);
                    }
                };

                xhttp.open("POST", "{{ path('resourceChange', {'id': id}) }}", true);
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send(JSON.stringify(editor.get()));
            };
        </script>
    {% endif %}

    <script>
        function getIndexOfRemoveButton(items) {
            var indexOfRemove = 0;

            for (var i = 0; i < items.length; i++){
                if (items[i].text ==='Remove'){
                    indexOfRemove = i;
                    break;
                }
            }

            return indexOfRemove;
        }
    </script>
{#    {% if session is defined %}#}
{#    {{ resource|json_encode|raw }}#}
{#    {% endif %}#}
{#    <script src="{{ asset('public/documentation/js/jquery-3.1.0.min.js') }}"></script>#}
{% endblock %}

