{% extends 'base.html.twig' %}
{% block title %}Create a new resource{% endblock %}
{% block body %}

    {% if paymentPlans is defined %}
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Payment plans</h2>
                </div>
            </div>
        </div>
        <div class="offset-xl-1 col-xl-10">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="section-block">
                        <h3>Choose your plan</h3>
                    </div>
                </div>
                {% for paymentPlan in paymentPlans %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header bg-primary text-center p-3 ">
                                <h4 class="mb-0 text-white"> {{ paymentPlan.name }}</h4>
                            </div>
                            <div class="card-body text-center">
                                <h1 class="mb-1">${{ paymentPlan.price }}</h1>
                                <p>Per Month</p>
                            </div>
                            <div class="card-body border-top">
                                <ul class="list-unstyled bullet-check font-14">
                                    {% if paymentPlan.numberOfResources == 'Unlimited' %}
                                        <li>{{ paymentPlan.numberOfResources }} number of resources.</li>
                                    {% else %}
                                        <li>Up to {{ paymentPlan.numberOfResources }} resources.</li>
                                    {% endif %}
                                </ul>
                                <a href="{{ path('buyPaymentPlan', {'id': paymentPlan.id }) }}" class="btn btn-secondary btn-block btn-lg">Buy</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}
    {% if form is defined %}
        <div class="row">
            <div class="col-sm-5">
                <div class="card">
                    <h5 class="card-header">Create new resource</h5>
                    <div class="card-body">
                        {% if errors is defined %}
                            {% for error in errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ form_start(form) }}
                        {{ form_label(form.resourceName) }}
                        {{ form_widget(form.resourceName, {'attr': {'class': 'form-control'}}) }}<br/>
                        {{ form_widget(form.create, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}