{% extends 'base.html.twig' %}
{% block title %} Share resource {% endblock %}

{% block body %}
    {{ parent() }}
    {% if message is defined  %}
        {{ message }}
    {% endif %}

    {% if form is defined %}
        <div class="section-block" id="basicform">
            <h3 class="section-title">Share resource</h3>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="card">
                    <h5 class="card-header">{{ resourceName }}</h5>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_label(form.user) }}
                        {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}<br/>
                        {{ form_label(form.accessLevel) }}
                        {{ form_widget(form.accessLevel, {'attr': {'class': 'form-control'}}) }}<br/>
                        {{ form_widget(form.share, {'attr': {'class': 'btn btn-primary'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}