<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('public/assets/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link href="{{ asset('public/assets/vendor/fonts/circular-std/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('public/assets/libs/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>

<div class="splash-container">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-1">Registration Form</h3>
            <p>Please enter your user information.</p>
        </div>
        <div class="card-body">
            <p>Fields marked with * are required</p>


            {% if errors is defined %}
                {% for error in errors %}
                    <p style="color: red"> {{ error }} </p>
                {% endfor %}
            {% endif %}

            {{ form_start(form) }}

            {{ form_label(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(form.first_name) }}
            {{ form_widget(form.first_name, {'attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(form.last_name) }}
            {{ form_widget(form.last_name, {'attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {'attr': {'class': 'form-control form-control-lg'}}) }}<br/>
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control form-control-lg'}}) }}<br/>
            {{ form_widget(form.register, {'attr': {'class': 'btn btn-block btn-primary'}}) }}

            {{ form_end(form) }}
        </div>
        <div class="card-footer bg-white p-0  ">
            <div class="card-footer-item card-footer-item-bordered">
                <a href="/login" class="footer-link">Already a user?</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>